.card {
  display: flex;
  width: 500px;
}

.returnDiv {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}

.btnDiv {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
}

.cardImgAlive {
  filter: grayscale(0%);
}

.cardImgDead {
  filter: grayscale(100%);
}